html {
    background-color: transparent
}

body {
    background-color: #d9dfe0
}

body {
    color: #222
}

.transparent-background body {
    background: transparent
}

.socialwall_header {
    background-color: #00222d;
    color: #fff
}

.socialwall_header a {
    color: #fff
}

.checkin {
    font-weight: 400
}

.checkin-without-image .checkin-message {
    font-weight: 400
}

@media screen and (min-width:1700px) {
    .checkin-wrapper {
        width: 20%
    }
}

.wall-info .loading-indicator {
    fill: #fff;
    color: #fff
}

.no-more-posts-inner {
    color: #222;
    background-color: #fff
}

.checkin-color-1 {
    background-color: #fff;
    color: #222
}

.checkin-color-1 a {
    color: #222
}

.checkin-color-1 .checkin-sharing {
    border-top-color: #222
}

.checkin-color-1 .checkin-highlight-icon {
    color: #222222
}

.checkin-color-1+.checkin-buttons {
    background-color: #fff
}

.checkin-color-1+.checkin-buttons .connector:before,
.checkin-color-1+.checkin-buttons .connector:after,
.checkin-color-1+.checkin-buttons .connector {
    background-color: #c8c8c8
}
